@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin-left: 5;
  margin-right: 5;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom left, #b35afc 27%, #8442ff 65%);
  color: #fff;
  text-align: center;
  overflow-x: hidden;
}

 /*NUESTRA HISTORIA*/

.timeline {
  width: 90%;
  padding: 10px;
  text-align: center;
  color: rgba(255,255,255,0.9);
}

.timeline img{
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.evento {
  /*background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);*/
  /*border: 1px solid rgba(255,255,255,0.2);
  /*backdrop-filter: blur(10px);*/
  margin:  20px auto;
  padding: 15px;
  width: 95%;
  border-radius: 15px;
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.1);*/
  min-width: 85%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.evento p{
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 15px;
  width: 95%;
  border-radius: 15px;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 10px;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.dots {
  text-align: center;
  margin-bottom: 0px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 5px;
  background: #aaa;
  border-radius: 50%;
  transition: 0.3s;
}

.dot.active {
  background: #fff; 
  transform: scale(1.3);
}



/* CONTENEDOR GLASS */
.glass {
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.08);
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  text-align: center;
  color: white;
}

/* INFO */
.info h2 {
  margin: 0;
  font-size: 20px;
}
.info p {
  opacity: 0.7;
}

/* VINILO */
.vinyl-container {
  position: relative;
  margin: 25px auto;
  width: 220px;
  height: 220px;
}

.vinyl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.vinyl img {
  width: 100%;
  border-radius: 50%;
}

/* GIRO SUAVE */
.spin {
  animation: spin 6s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

/* BOTÓN PRO */
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff4d8d, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255,77,141,0.6);
  transition: all 0.3s ease;
}

.play-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* PROGRESO */
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="range"] {
  flex: 1;
  appearance: none;
  height: 4px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ff4d8d;
  border-radius: 50%;
  cursor: pointer;
}

/* LETRA */
.lyrics {
  margin-top: 15px;
  min-height: 20px;
}

.lyrics p {
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: all 0.4s ease;
  transform: translateY(10px);
  opacity: 0;
}






/* PAGINA OG */
button{
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(135deg, #ff7eb3, #ff4d8d);
  color: white;
  box-shadow: 0 5px 15px rgba(255, 77, 141, 0.4);
}

button a{
  text-decoration: none;
  color: white;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*lluvia petalos*/
.fondo-petalos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* detrás del contenido */
  overflow: hidden;
  pointer-events: none;
}

.fondo-petalos span {
  position: absolute;
  top: -50px;
  width: 15px;
  height: 15px;
  background: radial-gradient(circle, #e0b0ff);
  opacity: 0.7;
  border-radius: 50% 50% 50% 50%;
  animation: caer 20s linear infinite;
}

@keyframes caer {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}


/* Responsive (para iPhone y otros móviles) */
@media (max-width: 600px) {
  h1 { font-size: 1.6rem; }
  h2 { font-size: 1.2rem; }
  p { font-size: 1rem; }
  .bloque { padding: 1.2rem; }

  card {
    height: 220px;
  }

  .front, .back {
    font-size: 0.9rem;
    padding: 1rem;
  }


  .bloquet, .bloque {
    padding: 1rem;
    margin: 1rem auto;
  }
}

* {
  -webkit-tap-highlight-color: transparent; 
}


button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

 @keyframes fondoScroll {
  0% { background-position: top; }
  50% { background-position: center; }
  100% { background-position: bottom; }
}
